*.synctex
*.fls
*.tmp
target/
*.acn
*.acr
*.alg
*.aux
*.bbl
*.blg
*.dvi
*.fdb_latexmk
*.glg
*.glo
*.gls
*.idx
*.ilg
*.ind
*.ist
*.loa
*.lof
*.log
*.lot
*.maf
*.mtc
*.mtc0
*.nav
*.nlo
*.out
*.pdfsync
*.ps
*.snm
*.synctex.gz
*.toc
*.vrb
*.xdy
*.tdo
*.tps
Masterprosjekt.pdf
Children_study.pdf
experiment/experiment.pdf
experiment2/experiment2.pdf
literature_study/Literature_study.pdf
